#homeContainer {
  height: 100%;
  /*  */
}

#homeContent {
  height: 85%;
  background-image: url("../../../assets/images/dog1.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}




