.card {
  background: #fff;
  border-radius: 2px;
  margin: auto;
  margin-top: 25%;
  /* position: relative; */
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  /* height: 200px; */
  overflow: hidden;
  text-align: center;
  background: #6caddc;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card-img-top {
  height: 325px;
}
